<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple="multiple">

<div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" style="width: 45%">45%</div>
</div>
<!-- <div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div> -->
<script type="text/javascript">
    $(function() {
        $('#fileupload').fileupload({
            dataType: 'json',
            add: function(e, data) {
                data.context = $('<p/>').text('Uploading...').appendTo(document.body);
                console.log(data);
                data.submit();
            },
            done: function(e, data) {
                $.each(data.result.files, function(index, file) {
                    $('<p/>').text(file.name).appendTo(document.body);
                });
            },
            progressall: function(e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            }
        });
    });
</script>

<div class="container">
    <div class="row well">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-horizontal">
                <fieldset>
                    <legend>基本信息</legend>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">项目名称</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="" ng-model="proj.itemname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">简要介绍</label>
                        <div class="col-md-10">
                            <textarea name="" class="form-control" id="" cols="30" rows="4" ng-model="proj.introduce"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">项目阶段</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="proj.phase">
                                <option value="0" ng-selected="selected">研发中</option>
                                <option value="1">已正式发布</option>
                                <option value="2">已有收入</option>
                                <option value="3">已盈利</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">团队人数</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control" id="" ng-model="proj.teamnumber">
                                <span class="input-group-addon">人</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">所在城市</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="" ng-model="proj.city">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">选择分类</label>
                        <div class="col-md-5">
                            <select class="form-control" ng-model="proj.classification">
                                <option value="0" ng-selected="selected">科技</option>
                                <option value="1">娱乐</option>
                                <option value="2">矿产</option>
                                <option value="3">农业</option>
                                <option value="4">房地产</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">项目标签</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="" placeholder="使用半角逗号分隔" ng-model="proj.itemtags">
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="" class="col-md-2 control-label">项目视频</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="" ng-model="proj.itemvideo">
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">项目图片</label>
                        <div class="col-md-10">
                            <input id="" type="file" name="files" data-file-u="single" multiple="multiple">
                            <input type="text" readonly="readonly" class="form-control" placeholder="添加文件...">
                            <input type="text" class="form-control hidden" ng-model="proj.itemimages">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <!-- <input type="text" class="form-control" id="" ng-model="proj.itemposter"> -->
                            <input type="text" class="form-control hidden" ng-model="proj.itemposter">
                            <input type="file" name="files" data-file-u="single" multiple="multiple">
                            <input type="text" readonly="readonly" class="form-control" placeholder="添加文件...">
                            <span class="btn btn-success">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>添加一张...</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">项目海报</label>
                        <div class="col-md-10">
                            <!-- <input type="text" class="form-control" id="" ng-model="proj.itemposter"> -->
                            <input type="text" class="form-control hidden" ng-model="proj.itemposter">

                            <input type="file" name="files" data-file-u="single" multiple="multiple">
                            <input type="text" readonly="readonly" class="form-control" placeholder="添加文件...">


                            <span class="btn btn-success">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>添加一张...</span>
                            </span>
                        </div>
                    </div>



                    <legend>融资需求</legend>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">融资目标</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" id="" ng-model="proj.financingtarget">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">出让股份</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="" ng-model="proj.sellshares">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">是否允许超募</label>
                        <div class="col-md-5">
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="" id="" value="0" checked="checked" ng-model="proj.overraised"> 是
                                </label>
                            </div>
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="" id="" value="1" ng-model="proj.overraised"> 否
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group animate-fade" ng-if="proj.overraised == 0">
                        <label for="" class="col-md-2 control-label">最高募集金额</label>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input type="text" class="form-control" id="" ng-model="proj.maxraise">
                                <span class="input-group-addon">元</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">是否需要领投</label>
                        <div class="col-md-5">
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="" id="" value="1" checked="checked" ng-model="proj.leaderstatus"> 是
                                </label>
                            </div>
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="" id="" value="0" ng-model="proj.leaderstatus"> 否
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group animate-fade" ng-if="proj.leaderstatus == 1">
                        <label for="" class="col-md-2 control-label">最低领投金额</label>
                        <div class="col-md-5">
                            <div class="input-group">

                                <input type="text" class="form-control" id="" ng-model="proj.minleader">
                                <span class="input-group-addon">元</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">最低募集金额</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="" ng-model="proj.minraise">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">单人投资最低金额</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="" ng-model="proj.mininvestor">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">融资时间</label>
                        <div class="col-md-5">
                            <input type="datetime" class="form-control" id="" ng-model="proj.financingtime">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">融资用途</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="" ng-model="proj.financinguse">
                        </div>
                    </div>
                    <legend>团队信息</legend>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">团队联系人</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="" ng-model="proj.teamcontactperson">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">联系电话</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="" ng-model="proj.contacttel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">Email</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="" ng-model="proj.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">是否已成立公司</label>
                        <div class="col-md-10">
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="" id="" value="1" checked="checked" ng-model="proj.buildcompany"> 已成立
                                </label>
                            </div>
                            <div class="radio radio-primary">
                                <label>
                                    <input type="radio" name="" id="" value="0" ng-model="proj.buildcompany"> 未成立
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">头像</label>
                        <div class="col-md-10">
                            <input id="" type="file" class="" name="files" data-file-u="single" data-url="upload.do" multiple="multiple">
                            <input type="text" readonly="readonly" class="form-control" placeholder="添加文件...">
                            <input type="hidden" class="form-control" id="" ng-model="proj.teaminfo.image">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">姓名</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="" ng-model="proj.teaminfo.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">职位</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="" ng-model="proj.teaminfo.position">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">持股比例</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="" ng-model="proj.teaminfo.sharehold">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">个人简介</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="" ng-model="proj.teaminfo.introduce">
                        </div>
                    </div>
                    <legend ng-if="proj.buildcompany == 1" class="animate-fade">公司信息</legend>
                    <fieldset ng-if="proj.buildcompany == 1" class="animate-fade">
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">公司名称</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="" ng-model="proj.companyname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">公司地址</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="" ng-model="proj.companyaddress">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">法人代表身份证</label>
                            <div class="col-md-10">
                                <input id="" type="file" class="" name="files" data-file-u="single" data-url="upload.do" multiple="multiple">
                                <input type="text" readonly="readonly" class="form-control" placeholder="添加文件...">
                                <input type="hidden" class="form-control" id="" ng-model="proj.legalcard">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">法人代表个人信用报告</label>
                            <div class="col-md-10">
                                <input id="" type="file" class="" name="files" data-file-u="single" data-url="upload.do" multiple="multiple">
                                <input type="text" readonly="readonly" class="form-control" placeholder="添加文件...">
                                <input type="hidden" class="form-control" id="" ng-model="proj.legalcreditreport">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">营业执照</label>
                            <div class="col-md-10">
                                <input id="" type="file" class="" name="files" data-file-u="single" data-url="upload.do" multiple="multiple">
                                <input type="text" readonly="readonly" class="form-control" placeholder="添加文件...">
                                <input type="hidden" class="form-control" id="" ng-model="proj.businesslicense">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">组织机构代码证</label>
                            <div class="col-md-10">
                                <input id="" type="file" class="" name="files" data-file-u="single" data-url="upload.do" multiple="multiple">
                                <input type="text" readonly="readonly" class="form-control" placeholder="添加文件...">
                                <input type="hidden" class="form-control" id="" ng-model="proj.organizationcode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-2 control-label">公司照片</label>
                            <div class="col-md-10">
                                <input id="" type="file" class="" name="files" data-file-u="single" data-url="upload.do" multiple="multiple">
                                <input type="text" readonly="readonly" class="form-control" placeholder="添加文件...">
                                <input type="hidden" class="form-control" id="" ng-model="proj.companyimage">
                            </div>
                        </div>
                    </fieldset>
                    <legend>项目详情</legend>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <!-- <input type="text" class="form-control" id="" ng-model="proj.itemdetails"> -->
                            <script id="umcontainer" name="content" type="text/plain" style="width:100%;height:200px"></script>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-2 control-label">商业计划书</label>
                        <div class="col-md-10">
                            <input id="" type="file" class="" name="files" data-file-u="single" data-url="upload.do" multiple="multiple">
                            <input type="text" readonly="readonly" class="form-control" placeholder="添加文件...">
                            <input type="hidden" class="form-control" id="" ng-model="proj.businessplan">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> 我已阅读并同意《网站服务协议》
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="submit" class="btn btn-raised" ng-click="launchSave(proj)">保存</button>
                            <button type="submit" class="btn btn-raised btn-primary" ng-click="launch(proj)">提交申请</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<style>
    /* Hide Angular JS elements before initializing */

    .ng-cloak {
        display: none;
    }
</style>

<!-- 实例化编辑器代码 -->
<script type="text/javascript">
    // register文件上传事件
    $('[data-file-u=single]').on('change', prepareUpload);

    $(function() {
        window.um = UM.getEditor('umcontainer');
    });
    $(function() {
        $.material.init();
    });
</script>
