<link rel="stylesheet" href="statics/styles/layouts/riskSafe.css">

<div class="row riskSafe">
	<div class="line"></div>
	<div class="line_font">
		<span>为什么选择Example</span>
	</div>
	<ul class="riskSafe_compare">
		<li class="li1">
			<h1>实时跟踪上海黄金交易所报价，价格透明</h1>
			<h2>上海黄金交易所是中国人民银行组建的黄金交易国家级市场，Example实时报价参照上金所，银行渠道直通上金所；交易安全，价格秒杀传统黄金销售商。</h2>
		</li>
		<li class="li2">
			<img src="statics/images/riskSafe/safe_compar.png" width="303" />
		</li>
	</ul>
	<ul class="riskSafe_shop">
		<li class="li2">
			<img src="statics/images/riskSafe/safe_shop.png" width="243" />
		</li>
		<li class="li1">
			<h1>实物黄金，随时提取</h1>
			<h2>在Example买金，相当于购入了实物黄金。您可以随时在全国超40家合作金店兑换成金条金饰；或者申请顺丰快递全国保价寄送到家。</h2>
		</li>
	</ul>
	<ul class="riskSafe_flow" style="border:0;">
		<li class="li1">
			<h1>模式靠谱，黄金稳定生息</h1>
			<h2>Example将老百姓投资的黄金汇集起来，提供给需要用金的企业（如芯片、首饰生产和销售企业），使他们可以向Example的黄金持有者借金还金，黄金收益就在这一借一还中稳定产生。</h2>
		</li>
		<li class="li2">
			<img src="statics/images/riskSafe/safe_flow.png" width="459" />
		</li>
	</ul>
	<div class="line" style="margin-top:50px;"></div>
	<div class="line_font">
		<span>安全保障体系</span>
	</div>
	<div class="riskSafe_sys">
		<ul>
			<li class="li1">
				<h1>资金和黄金安全由中华保险承保</h1>
				<h2>账户资金安全、黄金出借及存储由中华保险（中华联合财产保险）承保</h2>
			</li>
			<li class="li2">
				<img src="statics/images/riskSafe/safe_zh.png" width="380" />
			</li>
		</ul>
		<ul>
			<li class="li1">
				<h1>风险备付金托管于浙商银行</h1>
				<h2>Example将平台风险备付金托管于浙商银行，确保资金专款专用</h2>
			</li>
			<li class="li2">
				<img src="statics/images/riskSafe/safe_zs.png" width="380" />
			</li>
		</ul>
		<ul>
			<li class="li1">
				<h1>中伦律师事务所保障平台业务的合规性</h1>
				<h2>Example和国内顶级律所中伦律师事务所合作，保证平台业务的合规性</h2>
			</li>
			<li class="li2">
				<img src="statics/images/riskSafe/safe_zhls.png" width="380" />
			</li>
		</ul>
	</div>
	<div class="line" style="margin-top:50px;"></div>
	<div class="line_font">
		<span>风控保障体系</span>
	</div>
	<div class="risk_contro">
		<ul>
			<li class="li1">
				<h1>FICO</h1>
				<h2>美国著名信用评估公司FICO为Example提供的借金企业及其法人信用评级支持服务</h2>
			</li>
			<li class="li2">
				<img src="statics/images/riskSafe/safe_fico.png" width="380" />
			</li>
		</ul>
		<ul class="link_safe">
			<li class="li2">
				<img src="statics/images/riskSafe/safe_link.png" width="265" />
			</li>
			<li class="li1">

				<h1>银行级的风控体系确保出借黄金安全</h1>
				<p>出借前</p>
				<h2>用金企业背景和经营情况调查</h2>
				<h2>用金企业黄金借贷信用评估</h2>
				<h2>明确的担保方与保险机制</h2>
				<p>出借后</p>
				<h2>模式化巡检＋经营状况监测</h2>
				<h2>仓库质押管理</h2>
				<h2>借金企业情况持续跟踪并逐步形成征信数据库</h2>
			</li>
		</ul>
	</div>
	<div class="line" style="margin-top:50px;"></div>
	<div class="line_font">
		<span>网络技术安全</span>
	</div>
	<div class="riskSafe_safe" style="display:inline-block">
		<ul>
			<li class="li1">
				<h1>技术安全</h1>
				<h2>Example的技术团队来自国内各大银行及互联网公司，在信息安全和数据安全方面从业多年、经验丰富。携手顶级技术服务商阿里云构建拥有多重防火墙保护的系统， 访问层、应用层、数据层均拥有独立防护。可有效防范入侵、保障交易数据和用户信息安全完整。</h2>
			</li>
			<li class="li2">
				<img src="statics/images/riskSafe/safe_ali.png" width="380" />
			</li>
		</ul>
		<ul>
			<li style="margin-left:55px;margin-top:20px;">
				<h1>个人隐私</h1>
				<h2>Example上所有交易数据和用户信息都经过加密处理，任何人包括公司员工都无法获得用户隐私信息。Example在任何情况下都不会泄漏用户的隐私信息。</h2>
			</li>
		</ul>
	</div>
	<p class="ps">注：浙商银行不参加Example的宣传和营销</p>
</div>
