<div class="join_img"></div>
<div class="team_content">
	<!-- 	         <ul class="position_choice">
	   <li class="active" cal="product" left-banner="50">产品</li>
	   <li cal="techno" left-banner="180">技术</li>
	   <li cal="design" left-banner="300">设计</li>
	   <li cal="market" left-banner="430">市场</li>
	   <li cal="operate" left-banner="550">运营</li>
	   <li cal="admin" left-banner="680">行政</li>
	   <div class="location_banner"></div>
	 </ul> -->
	<div class="position_intro">
		<ul id="product">
			<li class="_head">
				<div class="about_intro_icon"></div>
				<span>产品/用户运营经理
				</span>
			</li>
			<li class="position_work">
				<span class="about_circle">&bull;</span>
				<span class="duity">岗位职责</span>
			</li>
			<li class="position_require">
				<div>1、</div>
				<p>
					<span>负责互联网产品线上生态圈建设，通过生态圈建设实现线上获客、营销互动、产品推广、精准营销、客户转换等并达成产品运营KPI；</span>
				</p>
				<div>2、</div>
				<p>
					<span>有互联网金融行业及产品运营分析经验；</span>
				</p>
				<div>3、</div>
				<p>
					<span>负责制定运营计划，根据业务发展要求设计运营方案、产品推广方案、活动方案、产品运营推广模型等，并负责线上线下相关活动的实施执行，达成KPI指标；</span>
				</p>
				<div>4、</div>
				<p>
					<span>收集、分析用户反馈意见及客户需求，整理分析运营的各项数据、情况，及时撰写运营分析报告，并提出合理化建议；</span>
				</p>
				<div>5、</div>
				<p>
					<span>发现产品运营中出现的问题并协调资源解决，与相关部门沟通协作。</span>
				</p>
			</li>
			<li class="position_work">
				<span class="about_circle">&bull;</span>
				<span class="duity">任职条件</span>
			</li>
			<li class="position_require">
				<div>1、</div>
				<p>3年以上产品运营团队管理工作，具有独立组建互联网业务运营团队优先；</p>
				<div>2、</div>
				<p>3-5年以上产品运营内容运营相关工作经验，有金融类、互联网金融、贵金属行业工作经验者优先，具有O2O、B端或C端互联网产品运营经验者优先；</p>
				<div>3、</div>
				<p>熟悉主流数据分析软件和平台，能够独立完成产品、用户、平台、活动的数据分析；</p>
				<div>4、</div>
				<p>具有一定抗压能力，具有吃苦耐劳精神，热爱互联网金融。</p>
			</li>
			<li class="position_require" style="color: #000; margin-top: 15px;">投递邮箱：hr@1111qianbao.com</li>
		</ul>
		<ul>
			<li class="_head">
				<div class="about_intro_icon"></div>
				<span>Java</span>
			</li>
			<li class="position_work">
				<span class="about_circle">&bull;</span>
				<span class="duity">岗位职责</span>
			</li>
			<li class="position_require">
				<div>1、</div>
				<p>
					<span>需求把控、系统设计、业务拆分，高质高效完成项目开发。</span>
				</p>
				<div>2、</div>
				<p>
					<span>技术难点攻关和新技术预研并持续改进优化系统架构，保证系统可用性、可靠性、可扩展性、可维护性以及安全性。"
					</span>
				</p>
			</li>
			<li class="position_work">
				<span class="about_circle">&bull;</span>
				<span class="duity">任职条件</span>
			</li>
			<li class="position_require">
				<div>1、</div>
				<p>本科或本科以上学历；</p>
				<div>2、</div>
				<p>三年以上Java开发经验，有互联网开发背景；</p>
				<div>3、</div>
				<p>扎实的Java基础，了解JVM运作机制，有JVM调优经验；</p>
				<div>4、</div>
				<p>熟悉分布式、缓存、消息、搜索等机制，有分布式系统、集群架构的设计和使用经验；</p>
				<div>5、</div>
				<p>熟练使用常用的MVC、ORM框架；</p>
				<div>6、</div>
				<p>掌握面向对象设计开发，熟悉常见设计模式，研究过开源代码优先；</p>
				<div>7、</div>
				<p>熟练使用MySQL进行应用开发，熟悉数据库原理以及常用性能优化技术；</p>
				<div>8、</div>
				<p>熟悉HTML/CSS/Javascript等前端技术优先；</p>
				<div>9、</div>
				<p>做事有责任心、有想法，热爱技术，喜欢钻研，有较强的逻辑思维能力，善于分析、归纳、快速定位并解决问题。</p>
			</li>
			<li class="position_require" style="color: #000; margin-top: 15px;">投递邮箱：hr@1111qianbao.com</li>
		</ul>

		<ul style="border: 0px;">
			<li class="_head">
				<div class="about_intro_icon"></div>
				<span>前端开发工程师</span>
			</li>
			<li class="position_work">
				<span class="about_circle">&bull;</span>
				<span class="duity">岗位职责</span>
			</li>
			<li class="position_require">
				<div>1、</div>
				<p>
					<span>负责实现产品设计师设计出的产品UI和交互方面的开发需求。</span>
				</p>
				<div>2、</div>
				<p>
					<span>负责确保产品具有优质的用户使用体验和高性能。</span>
				</p>
				<div>3、</div>
				<p>
					<span>跟进运营活动开发需求。</span>
				</p>
			</li>
			<li class="position_work">
				<span class="about_circle">&bull;</span>
				<span class="duity">任职条件</span>
			</li>
			<li class="position_require">
				<div>1、</div>
				<p>有1年以上使用HTML5、CSS和Javascript跨浏览器开发经验。</p>
				<div>2、</div>
				<p>熟悉jQuery/YUI/MooTools/Dojo/ExtJs中至少一种框架，特别是jQuery 。</p>
				<div>3、</div>
				<p>至少熟悉一门非Web前端脚本的语言（如Java、PHP、.Net、Ruby）。</p>
				<div>4、</div>
				<p>有团队协作精神。对用户体验、交互操作流程、及用户需求有深入理解。</p>
			</li>
			<li class="position_require" style="color: #000; margin-top: 15px;">投递邮箱：hr@1111qianbao.com</li>
		</ul>
	</div>
</div>
