<div class="team_content">
	<div class="partner_each">
		<div class="headers header1"></div>
		<ul class="partner_intro">
			<li class="_headName">苏州东吴文化发展有限公司</li>
			<li class="header_infor">
				<p>苏州东吴文化发展有限公司是2012年经苏州市工商局批准，由苏州市投资有限公司出资设立的，集金银精炼、金银饰品及工艺品、珠宝玉器制品的设计、研发、加工、销售为一体的全资子公司。 其总公司苏州市投资有限公司作为上海交易所的综合类会员，一直致力于对贵金属上下游产业链的搭建与整合，以金银珠宝加工为主体，深化金融创新服务，通过技术创新、资源优化，在经过持续多年稳步经营的基础上，形成了行业领先的产业发展理念。 公司现有二万多平米的独立厂房，拥有具备国际先进水平的生产及检测设备，将打造华东地区首家集金银精炼、制品加工、展示展销、设计研发以及金库、博物馆等为一体产业集群。
				</p>
			</li>

		</ul>
		<div style="clear:both;"></div>
	</div>
	<div class="partner_each">
		<div class="headers header2"></div>
		<ul class="partner_intro">
			<li class="_headName">五洲金行</li>
			<li class="header_infor">
				<p>唐山市五洲金行有限公司创立于一九九二年。历经多年的专业化发展，现拥有员工400余人，下辖五洲新华道店、远洋城店、丰润万隆店、迁安时代店、迁西体验店等多家分店，总营业面积8千平方米以上，经营品种以“足金系列、铂金系列、K金系列、钻石系列、镶嵌系列、礼品系列”等六大系列为主，独家代理多个国内外知名品牌首饰。连续多年被中国宝玉石协会授予“全国珠宝行业放心示范店”称号，被中国保护消费者基金会授予“全国消费者放心单位”称号，被中国市场监测中心评为中国质量、服务、信誉AAA级企业；此外，唐山市五洲金行有限公司还是中国名牌企业重点培育单位、世界杰出华商协会会员单位、国内商标注册企业，是唐山市目前规模和品牌影响力最大的珠宝首饰专营连锁发展企业，享有“世家”之美誉。</p>
			</li>

		</ul>
		<div style="clear:both;"></div>
	</div>
	<div class="partner_each">
		<div class="headers header3"></div>
		<ul class="partner_intro">
			<li class="_headName">紫金环球金属交易中心</li>
			<li class="header_infor">
				<p>深圳市紫金环球金属交易中心有限公司是由深圳市金融办发文批准，由紫金矿业集团股份有限公司在深圳市前海港深合作区发起设立的第三方金属交易平台，注册资本为一亿元人民币。紫金环球金属交易中心是目前国内首家以重要金属现货生产商为背景发起设立的第三方金属交易平台。</p>
			</li>

		</ul>
		<div style="clear:both;"></div>
	</div>
	<div class="partner_each">
		<div class="headers header4"></div>
		<ul class="partner_intro">
			<li class="_headName">中融国际信托有限公司</li>
			<li class="header_infor">
				<p>中融国际信托有限公司是经中国银监会批准设立的金融机构，前身为哈尔滨国际信托投资公司，成立于1987年。注册地为黑龙江省哈尔滨市南岗区嵩山路33号，主要办公地为北京市西城区金融街武定侯街2号。公司目前注册资本60亿元，公司资产管理总规模超过7200亿元。</p>
			</li>

		</ul>
		<div style="clear:both;"></div>
	</div>
	<div class="partner_each" style="border:0">
		<div class="headers header5"></div>
		<ul class="partner_intro">
			<li class="_headName">中信建设基金管理有限公司</li>
			<li class="header_infor">
				<p>中信建投基金管理有限公司是经中国证券监督管理委员会证监许可[2013]1108号文批准设立，完成工商注册并于2013年9月26日取得中国证券监督管理委员会核发的《基金管理资格证书》后正式成立的国内第83家公募基金管理公司。公司注册地在北京，注册资本1.5亿元人民币，经营基金募集、基金销售、特定客户资产管理、资产管理和中国证监会许可的其他业务。</p>
			</li>

		</ul>
		<div style="clear:both;"></div>
	</div>
</div>
