<div class="row well">
    <div class="col-md-12">
        <legend>项目列表</legend>
        <table class="table table-striped table-hover list-table-center">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>项目名称</th>
                    <th>项目状态</th>
                    <th>融资目标</th>
                    <th>出让股份</th>
                    <th>融资进展</th>
                    <th>发起时间</th>
                    <th>领投人数</th>
                    <th>跟投人数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in projects">
                    <td>{{item.id}}</td>
                    <td>{{item.itemname}}</td>
                    <td>{{item.projectstatus}}</td>
                    <td>{{item.financingtarget}}</td>
                    <td>{{item.sharehold}}</td>
                    <td>{{item.financingdevelopment}}</td>
                    <td>{{item.createdate}}</td>
                    <td>{{item.leadersize}}</td>
                    <td>{{item.investsize}}</td>
                    <td>
                        <button class="btn btn-primary btn-xs">编辑</button>
                        <button class="btn btn-primary btn-xs">查看</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
