<style type="text/css">

</style>

<div class="col-lg-6 col-lg-offset-3 well">
    <h4>New Client Orders</h4>
    <div ng-controller="clientOrderAddCtrl">
        <uib-tabset active="activeForm">
            <uib-tab index="1" heading="Buy">
                <client-order-buy></client-order-buy>
            </uib-tab>
            <uib-tab index="2" heading="Sell">
                <client-order-sell></client-order-sell>
            </uib-tab>
            <uib-tab index="3" heading="Orders File Upload">
                More Tab Content
            </uib-tab>
        </uib-tabset>
    </div>
</div>