<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>a
    </title>
    <style type="text/css">
    body {
        margin: 0;
    }
    
    .a {
        height: 100px;
        width: 100px;
        background: red;
    }
    
    .b {
        height: 50px;
        width: 50px;
        margin-top: 20px;
        margin-left: 20px;
        background: green;
    }
    </style>
</head>

<body>
    <div class="b"></div>
    <a href="#pay">a</a>
    <div id="pay"></div>
    <a href="a.html" target="ifname"></a>
    <iframe src="" frameborder="0" name="ifname"></iframe>
    <a href="mailto:aa@188.com">联系我们</a>
    <a href="tel:13100000000">拨号</a>
    <ul>
        <li>
            <ol type="a" start="2">
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <object data="" type="application/x-shockwave-flash">
        <param name="movie" value="http://a.swf">
    </object>


    <table>
        <caption>标题</caption>
        <thead>
            <tr>
                <th rowspan="2">a</th>
                <th>b</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>2</th>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">尾部 </td>
            </tr>
        </tfoot>
    </table>
</body>

</html>
