<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>a
    </title>
    <style type="text/css">
    body {
        margin: 0;
    }
    
    .a {
        height: 100px;
        width: 100px;
        background: red;
    }
    
    .b {
        height: 50px;
        width: 50px;
        margin-top: 20px;
        margin-left: 20px;
        background: green;
    }
    </style>
</head>

<body>
    <div class="a">
        <div class="a">
            <div class="a">
                <div class="b"></div>
            </div>
        </div>
    </div>
</body>

</html>
