<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>团团转</title>
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<script src="static/js/seajs/2.3.0/sea.js"></script>
	<script src="static/config.js"></script>
</head>
<body>
	<div id="fullpage">
		<div class="section sec-1">
			<div class="inner"></div>
		</div>
		<div class="section sec-2">
			<div class="inner"></div>
		</div>
		<div class="section sec-3">
			<div class="inner"></div>
		</div>
		<div class="section sec-4">
			<div class="inner"></div>
		</div>
	</div>
	<script type="text/javascript">seajs.use(['pages/index']);</script>
</body>
</html>