<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>
        <%=title %>
    </title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="js/views/index.js"></script>
    <script type="text/javascript">
    /*$('body').css('background', 'red');*/
    /*    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1254963806'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254963806' type='text/javascript'%3E%3C/script%3E"));

        */
    $(function() {
        $('body').css('background', 'blue');
    })
    </script>
</head>

<body>
    <div id="fullpage">
        <div class="section sec-2">
            <div class="inner">
                <div class="build">网站奋力建设中~</div>
            </div>
        </div>
        <div class="section sec-3">
            <div class="inner"></div>
        </div>
        <div class="section sec-4">
            <div class="inner"></div>
        </div>
    </div>
</body>

</html>
