@charset "UTF-8";
@import "variables";
@import "partials";
@import "mixins";
/* main */
html,
body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}
/* footer */
footer.footer-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $color-primary;
    color: white;
}
/* leftitems */
.leftitems {
    vertical-align: top;
    width: 220px;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    background: #fafafa;
    box-shadow: 1px 1px 2px #dedede;
    .pin-top {
        position: absolute;
        height: 40px;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
        text-align: center;
        font-size: 24px;
        line-height: 40px;
        background-color: white;
        color: #fff;
    }
    .pin-bottom {
        position: absolute;
        border-top: 1px solid #fff;
        height: 40px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        line-height: 40px;
        color: #666;
    }
}
/* 右侧主要内容区 */
.rightitems {
    overflow: auto;
    position: absolute;
    top: 70px;
    left: 220px;
    bottom: 0;
    right: 0;
    vertical-align: top;
    padding: 0;
}
