<script src="public/lib/swiper/js/swiper.js"></script>
<link rel="stylesheet" type="text/css" href="public/lib/swiper/css/swiper.css">
<style type="text/css">
    body {
        background: url("public/img/bg.jpg");
    }
</style>
<div class="container">
    <div class="row">
           <!--<div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide sl1">
                        <img src="public/img/win_01.jpg" alt="">
                    </div>
                    <div class="swiper-slide sl2">
                        <img src="public/img/win_02.jpg" alt="">
                    </div>
                    <div class="swiper-slide sl3">
                        <img src="public/img/win_03.jpeg" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>-->
        <div class="col-md-5 col-md-offset-3" style="margin-top: 300px;">
            <login-panel></login-panel>
        </div>
    </div>
</div>

<footer></footer>