<div class="row well">
    <div class="col-md-12">
        <legend>项目列表</legend>
        <table class="table table-striped table-hover list-table-center">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>项目名称</th>
                    <th>项目状态</th>
                    <th>融资目标</th>
                    <th>投资金额</th>
                    <th>订金</th>
                    <th>角色</th>
                    <th>投资时间</th>
                    <th>投资状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in projects">
                    <td>{{item.id}}</td>
                    <td>{{item.itemname}}</td>
                    <td>{{item.projectstatus}}</td>
                    <td>{{item.financingtarget}}</td>
                    <td>{{item.investamount}}</td>
                    <td>{{item.subscription}}</td>
                    <td>{{item.role}}</td>
                    <td>{{item.investstatus}}</td>
                    <td>{{item.investtime}}</td>
                    <td>
                        <button class="btn btn-primary btn-xs">查看</button>
                        <button class="btn btn-primary btn-xs">付款</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
