<style>
	.info-star {
		top: 8px;
		left: 1px;
	}

	.btn-fab-star {
		top: -40px;
		left: 290px;
	}

	.col-md-12-height {
		margin-top: -20px;
	}

	.content-dashed {
		padding-top: 8px;
		border-top-width: 1px;
		border-top-style: dashed;
		padding-bottom: 8px;
	}

	.content-boder {
		padding-top: 8px;
		border-top-width: 1px;
		border-top-style: groove;
		padding-bottom: 5px;
	}

	.btn-toolbar-style {
		margin-top: -53px;
		margin-left: 50px;
	}
</style>
<div class="container">
	<a href="javascript:void(0)" class="btn btn-primary">发起项目</a>
	<a href="javascript:void(0)" class="btn btn-primary">发起项目</a>
	<form>
		<div class="btn-toolbar">
			<a href="javascript:void(0)" class="btn btn-primary btn-raised disabled">行业</a>
			<a href="javascript:void(0)" class="btn btn-primary">全部</a>
			<a href="javascript:void(0)" class="btn btn-primary">科技</a>
			<a href="javascript:void(0)" class="btn btn-primary">艺术</a>
			<a href="javascript:void(0)" class="btn btn-primary">娱乐</a>
			<a href="javascript:void(0)" class="btn btn-primary">农业</a>
			<a href="javascript:void(0)" class="btn btn-primary">地产</a>
			<a href="javascript:void(0)" class="btn btn-primary">公益</a>
			<a href="javascript:void(0)" class="btn btn-primary">其他</a>
		</div>
		<div class="content-dashed"></div>
		<div class="btn-toolbar">
			<a href="javascript:void(0)" class="btn btn-primary btn-raised disabled">状态:</a>
			<a href="javascript:void(0)" class="btn btn-primary ">全部</a>
			<a href="javascript:void(0)" class="btn btn-primary ">预订中</a>
			<a href="javascript:void(0)" class="btn btn-primary ">融资中</a>
			<a href="javascript:void(0)" class="btn btn-primary ">融资成功</a>
			<a href="javascript:void(0)" class="btn btn-primary ">融资失败</a>
			<a href="javascript:void(0)" class="btn btn-primary btn-raised disabled">地区：</a>
			<div class="btn-group">
				<a href="javascript:void(0)" class="btn btn-primary">不限</a>
				<a href="bootstrap-elements.html" data-target="#" class="btn dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="javascript:void(0)" class="btn btn-primary ">北京</a></li>
					<li><a href="javascript:void(0)" class="btn btn-primary ">上海</a></li>
					<li><a href="javascript:void(0)" class="btn btn-primary ">广州</a></li>
					<li class="divider" class="btn btn-primary ">深圳</li>
				</ul>
			</div>
		</div>
		<div class="btn-toolbar">
			<a href="javascript:void(0)" class="btn btn-primary ">
				<span class="glyphicon glyphicon-arrow-down" aria-hidden="true">融资金额</span>
			</a>
			<a href="javascript:void(0)" class="btn btn-primary ">
				<span class="glyphicon glyphicon-arrow-down" aria-hidden="true">关注数</span>
			</a>
			<a href="javascript:void(0)" class="btn btn-primary ">
				<span class="glyphicon glyphicon-arrow-down" aria-hidden="true">剩余时间</span>
			</a>
			<a href="javascript:void(0)" class="btn btn-primary ">
				<span class="glyphicon glyphicon-arrow-down" aria-hidden="true">完成比例</span>
			</a>
		</div>
	</form>
	<div class="row projectlist-li-big" ng-repeat="item in projects">
		<fieldset class="animated slideInUp">
			<div class="col-md-4">
				<a href="#/detail/{{item.id}}" class="">
					<img class="img-responsive center-block" src="img/01.png" alt="" /> </a>
				<div class="col-md-12 col-md-12-height">
					<a href="javascript:void(0)" class="btn btn-default btn-fab btn-fab-mini btn-fab-star">
						<span class="glyphicon glyphicon-star info-star" aria-hidden="true"></span>
					</a>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						{{item.itemname}}
						<span class="label label-success">{{item.projectstatus}}</span>
					</div>
					<div class="col-md-6">
						{{item.itemtags}}
					</div>
				</div>

				<div class="col-md-12">
					<div class="col-md-6">
						融资目标：{{item.financingtarget}}
					</div>
					<div class="col-md-6">
						出让股份：{{item.sellshares}}
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						共募集：{{item.collectmoney}}
					</div>
					<div class="col-md-6">
						<span class="glyphicon glyphicon-time"> </span>剩余时间：{{item.surplustime}}天
					</div>
				</div>
				<div class="col-md-12">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{item.collectratio}};">
							{{item.collectratio}}
						</div>
					</div>
				</div>
			</div>

		</fieldset>
		<div class="content-dashed"></div>
	</div>
	</a>
</div>
