<style type="text/css">
    .mo-list {
        /*background: #eee;
        display: none;
        position: fixed;
        height: 400px;
        right: 0;
        left: 85px;
        bottom: 0;*/
    }
</style>

<!--<div class="mo-list col-lg-12 table-responsive" ng-controller="MoListCtrl">-->
<div class="row" ng-controller="MoListCtrl">
    <div class="col-lg-12">
        <rd-widget class="mo-list">
            <rd-widget-header icon="fa-tasks" title="Market Orders">
                <!--<a href="#">Manage</a>-->
            </rd-widget-header>
            <rd-widget-body classes="">
                <table class="table well table-striped">
                    <tbody>
                        <tr>
                            <th>Market Order #</th>
                            <th>Exchange</th>
                            <th>Shares</th>
                            <!--<th>Stock Code</th>-->
                            <!--<th>Amount (USD$) </th>-->
                            <th>Fills (%)</th>
                            <th>Total Amount (USD$)</th>
                            <th>Total Shares (USD$)</th>
                            <th>Status</th>
                        </tr>
                        <tr ng-repeat="item in moList">
                            <td>{{item.market_order_id}}</td>
                            <!--<td>{{item.client_order_id}}</td>-->
                            <td>{{item.exchange}}</td>
                            <td>{{item.shares}}</td>
                            <!--<td>{{item.amount}}</td>-->
                            <!-- <td>To Sell</td> -->
                            <td ng-controller="ProgressDemoCtrl">
                                <uib-progressbar class="progress-striped active" value="item.fills" type="{{type}}"><b>{{item.fills}}%</b></uib-progressbar>
                            </td>
                            <td>{{item.totalAmount}}</td>
                            <td>{{item.totalShares}}</td>
                            <td>{{item.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>