<div class="container">
    <div class="row">
        <form class="form-horizontal">
            <fieldset>
                <div id="legend" class="">
                    <legend class="">添加店铺</legend>
                </div>

                <div class="form-group">
                    <label for="" class="col-md-2 control-label">店铺名称</label>
                    <div class="col-md-3">
                        <input ng-model="store.storename" type="text" class="form-control" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">店铺地址</label>
                    <div class="col-md-5">
                        <textarea ng-model="store.storeaddress" name="" class="form-control" id="" cols="30" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">图片</label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <input id="testUpload" type="file" class="form-control">
                            <input ng-model="store.img" type="hidden" class="form-control">
                        </div>
                        <script>
                            $('#testUpload').on('change', prepareUpload);
                        </script>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">店铺电话</label>
                    <div class="col-md-5">
                        <textarea ng-model="store.storetel" name="" class="form-control" id="" cols="30" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">服务</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select ng-model="proj.storeservice" class="form-control">
                                <option value="1" ng-selected="selected">提金</option>
                                <option value="2">存金</option>
                                <option value="3">存提均有</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">所属省</label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <input ng-model="store.storeprovince" type="text" class="form-control" id="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">所属城市</label>
                    <div class="col-md-3">
                        <input ng-model="store.storecity" type="text" class="form-control" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-2 control-label">所属区县</label>
                    <div class="col-md-3">
                        <input ng-model="store.storedistrict" type="text" class="form-control" id="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-2">
                        <button type="submit" class="btn btn-success" ng-click="addstore(store)">提交</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
