@charset "UTF-8";
/* partials */
.fl {
  float: left;
}

.fr {
  float: right;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.pt0 {
  padding-top: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pd0 {
  padding: 0;
}

.ml0 {
  margin-left: 0;
}

.mr0 {
  margin-right: 0;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mg0 {
  margin: 0;
}

/* main */
html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

/* footer */
footer.footer-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #009688;
  color: white;
}

/* leftitems */
.leftitems {
  vertical-align: top;
  width: 220px;
  overflow: hidden;
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  background: #fafafa;
  box-shadow: 1px 1px 2px #dedede;
}
.leftitems .pin-top {
  position: absolute;
  height: 40px;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  background-color: white;
  color: #fff;
}
.leftitems .pin-bottom {
  position: absolute;
  border-top: 1px solid #fff;
  height: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  color: #666;
}

/* 右侧主要内容区 */
.rightitems {
  overflow: auto;
  position: absolute;
  top: 70px;
  left: 220px;
  bottom: 0;
  right: 0;
  vertical-align: top;
  padding: 0;
}
