<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script type="text/javascript">
    var demo = [{
        'id': 2323,
        'name': 'hello',
        'duration': 111,
        'album': {
            'id'
            23,
            'name': '热门'
        },
        'artist': {
            'id': 2312,
            'name': 'mou'
        }
    }]
    </script>
</head>

<body>
    <div class="m-plylist m-plylist-sort s-bfc5" id="parent">
        <div class="head f-cb">
            <div class="fix">
                <div class="th col f-pr"></div>
                <div class="th col o-love"><span class="ico u-icn4 u-icon4-love"></span></div>
            </div>
            <div class="flow f-cb">
                <div class="th col">标题</div>
                <div class="th col">歌手</div>
                <div class="th col">专辑</div>
                <div class="th col">时长</div>
            </div>
        </div>
    </div>
</body>

</html>
