<div class="primary unit">
    <div class="deposit-tab">
        <div class="header">




            <div class="title active ">
                <a href="javascript:void(0);" type="8">
                            新手特权金90天 </a>
            </div>



            <div class="title  title1">
                <a href="javascript:void(0);" type="9">
                            邀请特权金90天 </a>
            </div>



            <div class="title  title1">
                <a href="javascript:void(0);" type="7">
                            箱底金7天 </a>
            </div>



            <div class="title  title1">
                <a href="javascript:void(0);" type="4">
                            箱底金365天 </a>
            </div>



            <div class="title  title1">
                <a href="javascript:void(0);" type="3">
                            箱底金180天 </a>
            </div>



            <div class="title  title1">
                <a href="javascript:void(0);" type="2">
                            箱底金90天 </a>
            </div>



            <div class="title  title1">
                <a href="javascript:void(0);" type="1" style="border-right:0">
                            箱底金30天 </a>
            </div>


        </div>
        <div class="content">
            <div class="tabs">






                <div id="depositTab8" style="display:block" class="tab">
                    <div class="info">
                        <div class="detail">
                            <div class="key">新手特权金90天(克)</div>



                            <div class="number">0.000</div>


                        </div>
                        <div class="detail">
                            <div class="key">累计利息(元)</div>



                            <div class="number">0.00</div>


                        </div>
                        <div class="detail detail2">
                            <div class="key">当前利率</div>
                            <div class="number">
                                4.50 %
                            </div>
                        </div>
                        <a href="urlwaitforreplace/account/depositInto?type=8" class="trans-gold">转入</a>
                    </div>
                    <div class="content" style="margin-top: 30px">
                        <div>
                            <table class="stripe">
                                <thead>
                                    <tr>
                                        <th>操作时间</th>
                                        <th>类型</th>
                                        <th class="rightth">转入金重(克)</th>
                                        <th>起始时间</th>
                                        <th>结束时间</th>
                                        <th class="rightth">利率</th>
                                        <th class="rightth">利息(元)</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="page"></div>
                        <div class="null">无交易记录</div>
                    </div>
                </div>




                <div id="depositTab9" style="" class="tab">
                    <div class="info">
                        <div class="detail">
                            <div class="key">邀请特权金90天(克)</div>



                            <div class="number">0.000</div>


                        </div>
                        <div class="detail">
                            <div class="key">累计利息(元)</div>



                            <div class="number">0.00</div>


                        </div>
                        <div class="detail detail2">
                            <div class="key">当前利率</div>
                            <div class="number">
                                4.50 %
                            </div>
                        </div>
                        <a href="urlwaitforreplace/account/depositInto?type=9" class="trans-gold">转入</a>
                    </div>
                    <div class="content" style="margin-top: 30px">
                        <div>
                            <table class="stripe">
                                <thead>
                                    <tr>
                                        <th>操作时间</th>
                                        <th>类型</th>
                                        <th class="rightth">转入金重(克)</th>
                                        <th>起始时间</th>
                                        <th>结束时间</th>
                                        <th class="rightth">利率</th>
                                        <th class="rightth">利息(元)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="page"></div>
                        <div class="null"></div>
                    </div>
                </div>




                <div id="depositTab7" style="" class="tab">
                    <div class="info">
                        <div class="detail">
                            <div class="key">箱底金7天(克)</div>



                            <div class="number">0.000</div>


                        </div>
                        <div class="detail">
                            <div class="key">累计利息(元)</div>



                            <div class="number">0.00</div>


                        </div>
                        <div class="detail detail2">
                            <div class="key">当前利率</div>
                            <div class="number">
                                3.00 %
                            </div>
                        </div>
                        <a href="urlwaitforreplace/account/depositInto?type=7" class="trans-gold">转入</a>
                    </div>
                    <div class="content" style="margin-top: 30px">
                        <div>
                            <table class="stripe">
                                <thead>
                                    <tr>
                                        <th>操作时间</th>
                                        <th>类型</th>
                                        <th class="rightth">转入金重(克)</th>
                                        <th>起始时间</th>
                                        <th>结束时间</th>
                                        <th class="rightth">利率</th>
                                        <th class="rightth">利息(元)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="page"></div>
                        <div class="null"></div>
                    </div>
                </div>




                <div id="depositTab4" style="" class="tab">
                    <div class="info">
                        <div class="detail">
                            <div class="key">箱底金365天(克)</div>



                            <div class="number">0.000</div>


                        </div>
                        <div class="detail">
                            <div class="key">累计利息(元)</div>



                            <div class="number">0.00</div>


                        </div>
                        <div class="detail detail2">
                            <div class="key">当前利率</div>
                            <div class="number">
                                6.80 %
                            </div>
                        </div>
                        <a href="urlwaitforreplace/account/depositInto?type=4" class="trans-gold">转入</a>
                    </div>
                    <div class="content" style="margin-top: 30px">
                        <div>
                            <table class="stripe">
                                <thead>
                                    <tr>
                                        <th>操作时间</th>
                                        <th>类型</th>
                                        <th class="rightth">转入金重(克)</th>
                                        <th>起始时间</th>
                                        <th>结束时间</th>
                                        <th class="rightth">利率</th>
                                        <th class="rightth">利息(元)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="page"></div>
                        <div class="null"></div>
                    </div>
                </div>




                <div id="depositTab3" style="" class="tab">
                    <div class="info">
                        <div class="detail">
                            <div class="key">箱底金180天(克)</div>



                            <div class="number">0.000</div>


                        </div>
                        <div class="detail">
                            <div class="key">累计利息(元)</div>



                            <div class="number">0.00</div>


                        </div>
                        <div class="detail detail2">
                            <div class="key">当前利率</div>
                            <div class="number">
                                5.60 %
                            </div>
                        </div>
                        <a href="urlwaitforreplace/account/depositInto?type=3" class="trans-gold">转入</a>
                    </div>
                    <div class="content" style="margin-top: 30px">
                        <div>
                            <table class="stripe">
                                <thead>
                                    <tr>
                                        <th>操作时间</th>
                                        <th>类型</th>
                                        <th class="rightth">转入金重(克)</th>
                                        <th>起始时间</th>
                                        <th>结束时间</th>
                                        <th class="rightth">利率</th>
                                        <th class="rightth">利息(元)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="page"></div>
                        <div class="null"></div>
                    </div>
                </div>




                <div id="depositTab2" style="" class="tab">
                    <div class="info">
                        <div class="detail">
                            <div class="key">箱底金90天(克)</div>



                            <div class="number">0.000</div>


                        </div>
                        <div class="detail">
                            <div class="key">累计利息(元)</div>



                            <div class="number">0.00</div>


                        </div>
                        <div class="detail detail2">
                            <div class="key">当前利率</div>
                            <div class="number">
                                4.50 %
                            </div>
                        </div>
                        <a href="urlwaitforreplace/account/depositInto?type=2" class="trans-gold">转入</a>
                    </div>
                    <div class="content" style="margin-top: 30px">
                        <div>
                            <table class="stripe">
                                <thead>
                                    <tr>
                                        <th>操作时间</th>
                                        <th>类型</th>
                                        <th class="rightth">转入金重(克)</th>
                                        <th>起始时间</th>
                                        <th>结束时间</th>
                                        <th class="rightth">利率</th>
                                        <th class="rightth">利息(元)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="page"></div>
                        <div class="null"></div>
                    </div>
                </div>




                <div id="depositTab1" style="" class="tab">
                    <div class="info">
                        <div class="detail">
                            <div class="key">箱底金30天(克)</div>



                            <div class="number">0.000</div>


                        </div>
                        <div class="detail">
                            <div class="key">累计利息(元)</div>



                            <div class="number">0.00</div>


                        </div>
                        <div class="detail detail2">
                            <div class="key">当前利率</div>
                            <div class="number">
                                3.20 %
                            </div>
                        </div>
                        <a href="urlwaitforreplace/account/depositInto?type=1" class="trans-gold">转入</a>
                    </div>
                    <div class="content" style="margin-top: 30px">
                        <div>
                            <table class="stripe">
                                <thead>
                                    <tr>
                                        <th>操作时间</th>
                                        <th>类型</th>
                                        <th class="rightth">转入金重(克)</th>
                                        <th>起始时间</th>
                                        <th>结束时间</th>
                                        <th class="rightth">利率</th>
                                        <th class="rightth">利息(元)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="page"></div>
                        <div class="null"></div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
