<div class="primary unit">
    <div class="gold-tab">
        <div class="block">
            <div class="header">
                <div class="title active">
                    <a href="javascript:void(0);" type="">全部</a>
                </div>
                <div class="title">
                    <a href="javascript:void(0);" type="1">支付中</a>
                </div>
                <div class="title">
                    <a href="javascript:void(0);" type="2">已支付</a>
                </div>
                <div class="title">
                    <a href="javascript:void(0);" type="3">等待发货</a>
                </div>
                <div class="title">
                    <a href="javascript:void(0);" type="4">已发货</a>
                </div>
                <div class="title">
                    <a href="javascript:void(0);" type="5">已完成</a>
                </div>
                <div class="title">
                    <a href="javascript:void(0);" type="7" class="key">退货</a>
                </div>
            </div>
            <div style="clear:both" id="all">无订单记录</div>
        </div>
    </div>
</div>
