<div class="primary unit">
    <div class="conpons-tab">
        <div class="conpons-choice">
            <div class="banner active" deductibletype=""><a choice="coupons-all">全部优惠券</a></div>
            <div class="banner" deductibletype="1"><a choice="buyGold">买金券</a></div>
            <div class="banner" deductibletype="2"><a choice="checkGold">提金券</a></div>
            <div class="banner" deductibletype="3"><a choice="depositGold" style="border-right:0">箱底金券</a></div>
            <div class="conpons-oper">
                <a class="exchange" go="float1">兑换优惠券</a>
                <a class="get" go="float2">获取更多优惠券</a>
                <a class="instruction" go="float3">优惠券使用说明</a>
            </div>
        </div>
        <div class="conpons-static">
            <ul>
                <li class="use-case active" status="1"><a>未使用</a></li>
                <li class="use-case" status="2"><a>已使用</a></li>
                <li class="use-case" status="3"><a>已过期</a></li>
            </ul>
        </div>
        <div class="difCou" id="coupons-all">
            <div class="difCou no-coupons" id="checkGold" style="display:block;">
                <ul>
                    <li class="font">没有优惠券记录哦 更多优惠活动请关注官方微信</li>
                    <li class="img"></li>
                </ul>
            </div>
        </div>

    </div>
</div>
