<div class="home-bannar">
    <!-- 首页slider begin -->
    <ul class="bannar_bg">
        <li>
            <a href="invitationPrivilege425f.html?depositType=9" target="_blank">
                <div style="background:url(statics/images/banner/banner_invitationPrivileg_bg.png) repeat-x;">
                    <div class="row content" style="background: url(statics/images/banner/banner_invitationPrivileg.png) no-repeat;"></div>
                </div>
            </a>
        </li>
        <li>
            <a href="privilegef308.html?depositType=8" target="_blank">
                <div style="background-color: #fda822">
                    <div class="row content" style="background: url(statics/images/banner/banner_privilege.png) no-repeat;"></div>
                </div>
            </a>
        </li>
        <li>
            <a href="http://mt.sohu.com/20151207/n430174490.shtml" target="_blank">
                <div style="background:url(statics/images/banner/banner_zj_bg.png) repeat-x;">
                    <div class="row content" style="background: url(statics/images/banner/banner_zj.png) no-repeat;"></div>
                </div>
            </a>
        </li>
        <li>
            <a href="safe.html" target="_self">
                <div style="background-color: #589be2">
                    <div class="row content" style="background: url(statics/images/banner/safeRaskBnr7dc5.png??113016.png) no-repeat;"></div>
                </div>
            </a>
        </li>
        <li>
            <div style="background: url(statics/images/banner/banner_gold_association_bg3e89.png?1130.png) repeat-x;">
                <div class="row content" style="background: url(statics/images/banner/banner_gold_association882f.png?113016.png) no-repeat;"></div>
            </div>
        </li>
        <li>
            <div style="background: url(statics/images/banner/banner_Financing_B_bg3e89.png?1130.png) repeat-x;">
                <div class="row content" style="background: url(statics/images/banner/banner_Financing_Bfbc3.png?11301644.png) no-repeat;"></div>
            </div>
        </li>
        <li>
            <a href="about/news.html" target="_self">
                <div style="background: url(statics/images/banner/banner_member_bg3e89.png?1130.png) repeat-x;">
                    <div class="row content" style="background: url(statics/images/banner/banner_member3e89.png?1130.png) no-repeat;"></div>
                </div>
            </a>
        </li>
        <li>
            <div style="background: url(statics/images/banner/banner_sale_bg3e89.png?1130.png) repeat-x;">
                <div class="row content" style="background: url(statics/images/banner/banner_sale3e89.png?1130.png) no-repeat;"></div>
            </div>
        </li>
        <!-- <li>
				<div
					style="background: url(/statics/images/banner/banner_bg1.png) repeat-x;">
					<div class="row content"
						style="background: url(/statics/images/banner/banner_fg1.png) no-repeat;"></div>
				</div>
			</li>
			<li>
				<div style="background-color: #68c4ff">
					<div class="row content"
						style="background: url(/statics/images/banner/banner_fg2.png) no-repeat;"></div>
				</div>
			</li> -->
    </ul>
    <div class="bannar_button">
        <div class="row" style="position: relative">
            <ul></ul>
        </div>
    </div>
    <div class="row">
        <div class="account-bg"></div>
        <div class="account-info" style="top: 410px;">
            <div class="title">实时金价（元/克）</div>
            <div class="price number" id="price" ng-bind="G_goldprice"></div>
            <div class="market-price">
                <span>市场价</span>
                <span class="number" id="marketPrice">287.00</span>
            </div>
            <a class="actions" href="#" ui-sref="register" ng-if="!currentUser">注册</a>
        </div>
    </div>
</div>

<div class="home-intro">
    <div class="row">
        <div class="manage-info">
            <div class="manage">
                <!-- <span>已累计为</span><span class="number" id="userNum">--</span>
					<span>名用户</span><span style="margin-left:27px;">管理</span><span class="number" id="goldWeight">--</span><span></span> -->
                <span>Example已累计为用户管理</span>
                <span class="goldWeight" id="goldWeight">
                    <span class="number">1</span>
                    <span>吨</span>
                    <span class="number">259</span>
                    <span>千克</span>
                    <span class="number">628</span>
                    <span>克</span>
                </span>
                <span></span>


            </div>
            <div class="insurance">
                <div class="insurance-font" style="float:left;margin-right:20px;margin-top:10px;">资产安全由中华保险承保</div>
                <div class="insurance-link"><a href="policy.html" target="_blank">查看保单样本>></a></div>
            </div>
        </div>
        <div class="show">
            <div class="picture">
                <a href="safe.html" class="price"></a>
                <a href="safe.html" class="interest"></a>
                <a href="trade/bullion/index.html" class="store"></a>

            </div>
            <a href="video.html" target="_blank" class="video"></a>
        </div>
        <div class="product-info">
            <div class="product-header">
                <span class="title">存得利息</span>
                <a href="#" ui-sref="financing" class="more">查看更多高收益产品>></a>
            </div>
            <div class="product-list">
                <div class="product">
                    <div class="name">新手特权金90天</div>
                    <div class="desc">新手专享 199元1克</div>
                    <div class="rate">
                        <span class="number">4.5</span>
                        <div class="specs">
                            <span class="annual">年化</span>
                            <span class="percent">%</span>
                        </div>
                    </div><a class="actions" href="urlwaitforreplace/privilege?depositType=8">立即投资</a></div>
                <div class="product">
                    <div class="name">邀请特权金90天</div>
                    <div class="desc">抢199元特权金</div>
                    <div class="rate">
                        <span class="number">4.5</span>
                        <div class="specs">
                            <span class="annual">年化</span>
                            <span class="percent">%</span>
                        </div>
                    </div><a class="actions" href="urlwaitforreplace/invitationPrivilege?depositType=9">立即投资</a></div>
                <div class="product product-last">
                    <div class="name">箱底金7天</div>
                    <div class="desc">定投 收益更高</div>
                    <div class="rate">
                        <span class="number">3</span>
                        <div class="specs">
                            <span class="annual">年化</span>
                            <span class="percent">%</span>
                        </div>
                    </div><a class="actions" href="urlwaitforreplace/trade/gold/detail?depositType=7">立即投资</a></div>
            </div>
            <!-- <div class="product-list">
				</div> -->
        </div>
        <div class="news-info">
            <div class="news-header">
                <span class="title">媒体报道</span>
                <a href="#" ui-sref="headline" class="more">更多报道</a>
            </div>
            <!-- <div class="news-list">
					<div class="news">
						<div class="news-left">
							<span class="news-title">新媒体测试环球网</span>
							<span class="news-footer">中华网 2015-09-09</span>
						</div>
						<div class="logo xinhua"></div>
					</div>

				</div> -->

            <div class="news-list">
                <a href="http://click.cnfol.com/xuanchuanxinxi/20150929/21527459.shtml" class="news news-odd" target="_blank">
                    <div class="news-left">
                        <div class="news-title">“Example”成为中国协会常务理事单位</div>
                        <div class="news-footer">中金在线 2015-09-29</div>
                    </div>
                    <div class="logo-div">
                        <div class="logo zhongjin"></div>
                    </div>
                </a>
                <a href="http://tech.sina.com.cn/i/2015-09-25/doc-ifxieyms4080115.shtml?ref=myread" class="news " target="_blank">
                    <div class="news-left">
                        <div class="news-title">O2O平台Example：B轮融资1.07亿元</div>
                        <div class="news-footer">新浪网 2015-09-25</div>
                    </div>
                    <div class="logo-div">
                        <div class="logo xinlang"></div>
                    </div>
                </a>
                <a href="http://nb.people.com.cn/n/2015/0916/c200877-26406100.html" class="news news-odd" target="_blank">
                    <div class="news-left">
                        <div class="news-title">“Example”入围互联网金融创新机构第二季度新秀</div>
                        <div class="news-footer">人民网 2015-09-16</div>
                    </div>
                    <div class="logo-div">
                        <div class="logo renmin"></div>
                    </div>
                </a>
                <a href="http://economy.gmw.cn/2015-07/03/content_16173216.htm" class="news " target="_blank">
                    <div class="news-left">
                        <div class="news-title">“Example”牵手全球最大信用评估公司FICO</div>
                        <div class="news-footer">光明网 2015-07-03</div>
                    </div>
                    <div class="logo-div">
                        <div class="logo guangming"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="institutions-info">
            <div class="institutions-header">
                <span class="title">相关机构</span>
            </div>
            <div class="institutions"></div>
        </div>
    </div>
</div>
