<a href="http://map.baidu.com/?newmap=1&amp;ie=utf-8&amp;s=s%26wd%3D%E6%9C%9B%E4%BA%ACsoho%E5%A1%941b%E5%BA%A7" target="_bank">
	<div class="about_position"></div>
</a>
<div class="call_content">
	<div class="call_class">
		<div class="_head">
			<div class="about_intro_icon"></div>
			<span>客户服务</span>
		</div>
		<div class="call_icons icons1"></div>
		<ul class="call_detail">
			<li>
				<span class="about_circle">&bull;</span>
				<span class="text">客服电话：400-652-1111
					<font>（工作日 9:00-21:00 非工作日 10:00-15:00）</font>
				</span>
			</li>
			<li>
				<span class="about_circle">&bull;</span>
				<span class="text">客服QQ：11115
					<font>（QQ群）</font>
				</span>
			</li>
			<li>
				<span class="about_circle">&bull;</span>
				<span class="text">客服邮箱：service@Example.com</span>
			</li>
		</ul>
	</div>

	<div class="call_class">
		<div class="_head">
			<div class="about_intro_icon"></div>
			<span>商务合作</span>
		</div>
		<div class="call_icons icons2"></div>
		<ul class="call_detail call_detail1">
			<li>
				<span class="about_circle">&bull;</span>
				<span class="text">合作邮箱：bd@Example.com</span>
			</li>
		</ul>
	</div>

	<div class="call_class" style="border-bottom: 0px;">
		<div class="_head">
			<div class="about_intro_icon"></div>
			<span>媒体采访</span>
		</div>
		<div class="call_icons icons3"></div>
		<ul class="call_detail call_detail3">
			<li>
				<span class="about_circle">&bull;</span>
				<span class="text">电话：010-5949-1111</span>
			</li>
			<li>
				<span class="about_circle">&bull;</span>
				<span class="text">邮箱：pr@Example.com</span>
			</li>
		</ul>
	</div>

</div>
