<div class="container">
    <div class="row">
        <div class="col-md-12 well login-panel">
            <form class="form-horizontal" name="form">
                <fieldset>
                    <legend>后台调试</legend>
                    <div class="form-group">
                        <label for="inputUsername" class="col-md-2 control-label">URL:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="" placeholder="user/login.do" required ng-model="obj.url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-md-2 control-label">方法:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="" placeholder="POST" required ng-model="obj.method">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-md-2 control-label">参数:</label>
                        <div class="col-md-10">
                            <input type="textarea" class="form-control" id="" placeholder='格式(双引号)：{"name":"fe"}'    required ng-model="obj.data">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button class="btn btn-raised btn-primary" type="submit" ng-click="test(obj)">测试</button>
                        </div>
                    </div>
                    <legend>结果</legend>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <div>请求结果: {{result.result}}</div>
                            <div>status: {{result.status}}</div>
                            <div>msg: {{result.msg}}</div>
                            <div>errMsg: {{result.errMsg}}</div>
                            <div>content: {{result.content}}</div>
                            <div><em>还有具体返回数据请开F12控制台查看!</em></div>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>
