<!-- navbar begin -->
<div class="navbar navbar-default" ng-if="currentUser">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"></a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse ">
            <ul class="nav navbar-nav ">
                <li ui-sref-active="active"><a ui-sref="project" href="javascript:void(0) ">Projects</a></li>
                <li ui-sref-active="active"><a ui-sref="project" href="javascript:void(0) ">Investors</a></li>
                <li ui-sref-active="active"><a ui-sref="launchPro" href="javascript:void(0) ">Launch</a></li>
                <li ui-sref-active="active">
                    <a ui-sref="project" href="javascript:void(0) "></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right ">

                <!-- {{msg}}
                    <div ng-if="currentUser">Welcome, {{ currentUser.name }}</div>
                    <div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>
                    <div ng-switch on="currentUser.role">
                        <div ng-switch-when="userRoles.admin">You're admin.</div>
                        <div ng-switch-when="userRoles.editor">You're editor.</div>
                        <div ng-switch-default>You're something else.</div>
                    </div> -->

                <li ng-if="!currentUser"><a ui-sref="login" href="#">login</a></li>
                <li ng-if="!currentUser"><a ui-sref="register" href="#">register</a></li>
                <li class="dropdown" ng-if="currentUser">
                    <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{currentUser}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="user.info" href="#">My Profile</a></li>
                        <li><a ui-sref="user.invest" href="#">My Orders</a></li>
                        <li><a ui-sref="user.concern" href="#">My Concern</a></li>
                        <!-- <li class="divider "></li> -->
                        <li><a ui-sref="user.launch" href="#">My Projects</a></li>
                        <li><a href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- navbar end -->