<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-tabs nav-stacked">
                <li class="active"><a ui-sref=".info" href="#">我的信息</a></li>
                <li><a ui-sref=".invest" href="#">我的投资</a></li>
                <li><a ui-sref=".launch" href="#">我发起的项目</a></li>
                <li><a ui-sref=".concern" href="#">我关注的项目</a></li>
                <li><a ui-sref=".auth" href="#">投资认证</a></li>
                <li><a ui-sref=".record" href="#">投资记录</a></li>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="" ui-view></div>
        </div>
    </div>
</div>
