<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>

<div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" style="width: 45%">45%</div>
</div>
<!-- <div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div> -->
<script type="text/javascript">
    $(function() {
        $('#fileupload').fileupload({
            dataType: 'json',
            add: function(e, data) {
                data.context = $('<p/>').text('Uploading...').appendTo(document.body);
                console.log(data);
                data.submit();
            },
            done: function(e, data) {
                $.each(data.result.files, function(index, file) {
                    $('<p/>').text(file.name).appendTo(document.body);
                });
            },
            progressall: function(e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            }
        });
    });
</script>
