<div ng-controller="SidebarCtrl" id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar" style="overflow:visible;">
            <li class="sidebar-main">
                <a ng-click="toggleSidebar()">OMS<span class="menu-icon glyphicon glyphicon-transfer"></span></a>
            </li>
            <li class="sidebar-title"><span>NAVIGATION</span></li>
            <li class="sidebar-list">
                <a href="#" ui-sref="dashboard.order">Order List <span class="menu-icon fa fa-list-alt"  tooltip-placement="{{'right'}}" uib-tooltip="Order List" ></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#" ui-sref="dashboard.addClientOrder">New Orders <span class="menu-icon fa fa-plus"></span></a>
            </li>
            <li class="sidebar-list">
                <a href="#" ui-sref="dashboard.demo">Demo <span class="menu-icon fa fa-table"></span></a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-7">
                <a href="#" target="_blank">
            OMS V 0.0.1
          </a>
            </div>
            <div class="col-xs-5">
                <a href="#">
            Support
          </a>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">

            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <img src="img/avatar.jpg">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    {{currentUser}}
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#">Profile</a>
                                </li>
                                <li class="link">
                                    <a href="#">Menu Item</a>
                                </li>
                                <li class="link">
                                    <a href="#">Menu Item</a>
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#" ng-click="logout()">Logout</a>
                                </li>
                            </ul>
                        </div>
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <i class="fa fa-bell-o"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    Notifications
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Server Down!</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="page">
                            Order Management System
                        </div>
                        <div class="breadcrumb-links">
                            Home / Order Management
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->

            <!-- Main Content -->
            <div ui-view></div>

        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Content Wrapper -->
</div>
<!-- End Page Wrapper -->