<style type="text/css">
    .progress {
        margin-bottom: 0;
    }
    
    .selectedStyle {
        background: #fffacd;
    }
</style>
<div class="row" ng-controller="CoListCtrl">
    <div class="col-lg-12" style="height:90%;width:95%;position:absolute;">
        <div ui-layout="{disableToggle: 'true'}">
            <div ui-layout-container>
                <rd-widget style="height:500px;">
                    <rd-widget-header icon="fa-tasks" title="Client Orders">
                        <!--<a href="#">Manage</a>-->
                    </rd-widget-header>
                    <rd-widget-body classes="no-padding">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>Client Order #</th>
                                        <!--<th>broker ID</th>-->
                                        <th>UUID</th>
                                        <th>Ric</th>
                                        <th>Name</th>
                                        <th>Share</th>
                                        <th>Amount (USD$)</th>
                                        <th>Type</th>
                                        <th>Strategy</th>
                                        <th>Fills (%)</th>
                                        <th>Total Shares</th>
                                        <th>Total Amount</th>
                                        <th>Booked On</th>
                                        <th>Traded On</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                    <tr ng-click="selectCo(item.id)" ng-class="{selectedStyle:item.id === selectedClientOrderId}" ng-repeat="item in clientOrderItems">
                                        <td>{{item.id}}</td>
                                        <!--<td>{{item.brokerId}}</td>-->
                                        <td>{{item.uuId}}</td>
                                        <td>{{item.ric}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.shares}}</td>

                                        <td>{{item.amount}}</td>
                                        <td>{{item.type}}</td>
                                        <td>{{item.strategy}}</td>
                                        <td ng-controller="ProgressDemoCtrl">
                                            <uib-progressbar class="progress-striped active" value="item.fills" type="{{type}}"><b>{{item.fills}}%</b></uib-progressbar>
                                        </td>
                                        <td>{{item.totalShares}}</td>
                                        <td>{{item.totalAmount}}</td>
                                        <td>{{item.bookedOn}}</td>
                                        <td>{{item.tradeOn}}</td>
                                        <td>{{item.status}}</td>

                                        <td>
                                            <button class="btn btn-xs btn-danger" ng-if="item.status=='Processing'">CANCEL</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </rd-widget-body>
                    <rd-widget-footer>
                        <ul class="pagination pagination-sm pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </rd-widget-footer>
                </rd-widget>

            </div>
            <div ui-layout-container ng-if="selectedClientOrderId">
                <div ui-layout="{flow: 'column', disableToggle: 'true'}">
                    <div ui-layout-container>
                        <co-pie></co-pie>
                    </div>
                    <div ui-layout-container>
                        <market-order-list></market-order-list>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>